## String are arrays

In [4]:
## Get the character at the position 4(Here indexing start from 0)
a = 'DATASET'

In [9]:
print(a[4:])

SET

### STring method()

split()

In [11]:
a = 'Welcome dear, good day'
print(a.split(','))

['Welcome dear', ' good day']

In [12]:
a = 'Welcome dear, good day'
print(a.split())

['Welcome', 'dear,', 'good', 'day']

In [15]:
b = 'data test'
print(b.split('t'))

['da', 'a ', 'es', '']

In [17]:
b = 'data test'
b_ = b.split('t')
b__ = [x for x in b_ if x!=''] """ Here we wanna get all token different to empty('')"""
b__

['da', 'a ', 'es']

 replace()

In [14]:
a = 'Welcome dear, good day'
print(a.replace('e','la412'))

Wla412lcomla412 dla412ar, good day

### String concatination

In [20]:
a = 'data test'
b = 'train'
print(a + ' ' + b)

data test train

In [22]:
a = 'data test'
b = 'train'
print(f'{a} {b}')

data test train

## Importing text

#### step1 creating

In [27]:
file = open('dataset.txt','w+')

#### step2

In [29]:
for i in range(5):
    file.write("Line no is %d\r\n"%(i+1))

In [30]:
file.close()

In [31]:
file = open('dataset.txt','w+')

In [33]:
for i in range(5):
    file.write("Line no is %d\r\n"%(i+10))

In [34]:
file.close()

In [35]:
file = open('dataset.txt','a')

In [36]:
for i in range(5):
    file.write("Line no is %d\r\n"%(i+1))

In [37]:
file.close()

In [40]:
olive = open('k.txt','a+')

In [41]:
for x in range(6):
    olive.write(f'the file number is:{x+10}\n')
olive.close()

In [47]:
olive=open('k.txt','r')
if olive.mode =='r':
    content = olive.read()
    print(content)

the file number is:1the file number is:2the file number is:3the file number is:4the file number is:5the file number is:6the file number is:10
the file number is:11
the file number is:12
the file number is:13
the file number is:14
the file number is:15

In [48]:
## x mode is always used to create a new file and if file exist oparation fails
olive = open('k.txt','x')

FileExistsError: [Errno 17] File exists: 'k.txt'

 b mode

## Text Pre-processing

In [55]:
#!pip install nltk

In [56]:
import nltk
import string
import re

#### Text lowercase

In [57]:
def lowercase_text(text):
    """This function will get an argument which should a string and at end it will wi
    convert the txt to oercase """
    return text.lower()

In [60]:
input_str = "Good Morning Sir , Today is my BIRTHDAY!\
yes yes YES"

In [61]:
lowercase_text(input_str)

'good morning sir , today is my birthday!yes yes yes'

### Remove the Numbers

In [77]:
 # for remove all the numbers
def remove_num(text):
    """This function will get an argument text which is string
    text and it will remove all the numbers (digits)"""
    
    result = re.sub(r'\d+', '', text)
    
    ''' sub means substitute
    \d it means anythings which is number
    \d+ it means anythings which is number but more than one number
    \D+ it means anythings which is NOT a number but more than one
    '''
    return result.strip()

In [78]:
input_str = "  Good Morning Sir 9 , Today is my 44 BIRTHDAY!\
yes 78 yes 77 YES  "

In [79]:
remove_num(input_str)

'Good Morning Sir  , Today is my  BIRTHDAY!yes  yes  YES'

In [82]:
# for remove all the words
def remove_words(text):
    """This function will get an argument text which is string
    text and it will remove all the numbers (digits)"""
    
    result = re.sub(f'\D+', '', text)
    
    ''' sub means substitute
    \d it means anythings which is number
    \d+ it means anythings which is number but more than one number
    \D+ it means anythings which is NOT a number but more than one
    '''
    return result.strip()

In [83]:
remove_words(input_str)

'9447877'

In [2]:
#!pip install inflect

In [3]:
import inflect

p = inflect.engine()

In [10]:
# UNCONDITIONALLY FORM THE PLURAL

word = 'coffee'
print("The plural of ", word, " is ", p.plural(word))

The plural of  coffee  is  coffees

In [12]:
# SELECT THE GENDER OF SINGULAR PRONOUNS


print(p.singular_noun("they"))  # 'it'

it