In [9]:
print("Hello World!")

Hello World!

In [10]:
print('Hello World!')

Hello World!

In [ ]:
# ()  ==> round bracket

In [ ]:
# [] ==> square bracket

In [ ]:
# {}  ==> flower brocket

In [ ]:
# ""   ==> double quote

In [ ]:
# '' ==> single quote

22

In [6]:
import math

In [3]:
math.pi

3.141592653589793

In [5]:
math.sqrt(25)

5.0

In [7]:
pandas

NameError: name 'pandas' is not defined

In [8]:
import pandas

In [9]:
pandas

In [11]:
from math import pi

In [12]:
pi

3.141592653589793

In [19]:
i = 0
count = 0
while i <20:
    i=i+1
    count = count +1
    print('Count: ',count)

Count:  1
Count:  2
Count:  3
Count:  4
Count:  5
Count:  6
Count:  7
Count:  8
Count:  9
Count:  10
Count:  11
Count:  12
Count:  13
Count:  14
Count:  15
Count:  16
Count:  17
Count:  18
Count:  19
Count:  20

In [17]:
count

10

In [20]:
i = 0
count = 0
while i <20:
    i+=1
    count +=1
    print('Count: ',count)

Count:  1
Count:  2
Count:  3
Count:  4
Count:  5
Count:  6
Count:  7
Count:  8
Count:  9
Count:  10
Count:  11
Count:  12
Count:  13
Count:  14
Count:  15
Count:  16
Count:  17
Count:  18
Count:  19
Count:  20

In [42]:
for x in range(0,20,2):
    if x ==8 or x ==14:
        continue
    print(x)

0
2
4
6
10
12
16
18

In [26]:
a='Bonjour'
b = a
c = 'Hello'

In [27]:
b

'Bonjour'

In [25]:
22 ==2

False

In [28]:
c

'Hello'

In [29]:
b ==a

True

In [30]:
b ==c

False

In [ ]:
range(start,number,steps)

In [37]:
for x in range(0,107,5):
    print(x)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105

In [48]:
colors = ['red','blue','green','pink']

In [44]:
x

['red', 'blue', 'green', 'pink']

In [49]:
for i in colors:
    print(i)

red
blue
green
pink

In [51]:
# Bonjour , today sunday

In [52]:
#Bonjour ,
#today 
#sunday

In [54]:
"""Bonjour ,
today 
sunday
I am ddoing great
"""
x =10

In [55]:
x

10

In [56]:
# How to use the "input" keyword?
name = input('Enter your name:')
eamil = input('Enter your eamil:')
passowrd = input('Enter your password:')

Enter your name:Olivier
Enter your eamil:pvcoding@gmail.com
Enter your password:12345

In [57]:
## by default the input value is in string type

x = input('Enter your age: ')
y = x + 2
print(y)

Enter your age: 6

TypeError: can only concatenate str (not "int") to str

In [58]:
type(x)

str

In [59]:
## by default the input value is in string type

x = int(input('Enter your age: '))
y = x + 2
print(y)

Enter your age: 25
27

In [67]:
#Legal variable names
prenom1= 'Olivier'
prenom2 = 'Cisse'
age = 24
MyName =  'Houphouet'
mYnAme ='Eric'

In [68]:
# Illegal variable names
#prenom 1= 'Olivier'
#2prenom = 'Cisse'
#age-1 = 24

In [70]:
name = 'Patrick'
age = 36
amount = 5000.60

In [71]:
print(type(name))
print(type(age))
print(type(amount))

<class 'str'>
<class 'int'>
<class 'float'>

In [72]:
#constante variable

NAME = 'Olivier'

In [74]:
## Modulus operator

num = 40%5

print(num)

0

In [75]:
## Modulus operator

num = 41%5 

print(num)

1

In [76]:
### division operator
num = 41/5 

print(num)

8.2

In [79]:
3 2

1.5

In [85]:
6%2

0

In [86]:
6/2

3.0

In [81]:
100/3

33.333333333333336

In [84]:
33*3

99

In [87]:
11/3

3.6666666666666665

In [88]:
11%3

2

In [93]:
## Floor division Operator (//)

100//3

33

In [95]:
## Exponentiation Operation (**)
#x^2
x = 4
y = x**5

print(y)

1024

In [97]:
# change the function parameters if you need

def test(a, b): # "a" and "b" are called function parameters
    x = int(a)
    y = int(b)
    return x + y # write here the returned value of the function  
  # Write your code above this line

In [98]:
value = test(2,4) ## 2 and 4 are called function arguments

In [99]:
print(value)

6

In [101]:
# change the function parameters if you need

def calc(a, b): # "a" and "b" are called function parameters
    x = int(a)
    y = int(b)
    result = x + y
    return result  # write here the returned value of the function  
  # Write your code above this line

In [102]:
value1 = test(6,12)
value1

18

In [103]:
value1 = test(16,120)

In [104]:
value1

136