### Saturday   12/11/2022

In [1]:
name = 'Oliver'
number = float(name)

ValueError: could not convert string to float: 'Oliver'

In [2]:
number = 200

## convert  number   into float type

my_float_number = float(number)
print(my_float_number)

200.0

In [3]:
print(type(number))

<class 'int'>

In [4]:
print(type(my_float_number))

<class 'float'>

In [7]:
float(5) #conversion from integer to float

5.0

In [8]:
float("2.5") #conversion from string to float

2.5

In [9]:


str(25) #conversion from integer to string

'25'

In [6]:


int("2") #conversion impossible, string must contain compatible values

2

In [ ]:
" "

In [ ]:
''

In [10]:
name = 'Oliver'

In [11]:
type(name)

str

In [12]:
print(name.upper())

OLIVER

In [13]:
x = True
y = False

In [17]:
y = (10 > 9) #
y

True

In [18]:
x = 10 < 9

In [19]:
x

False

In [20]:
name = 'Oliver'

In [21]:
name

'Oliver'

In [22]:
print(name)

Oliver

In [23]:
x = 10
x

10

In [24]:
x = 10
print(x)

10

In [25]:
x = 20 == 90
x

False

In [26]:
x = 20 == 90
print(x)

False

In [27]:
cv = 'www'

print(cv)

www

In [28]:
x = (20 == 10) ## est ce que 20 equal 10 ?
print(x)

False

In [30]:
if (20 == 20):
    print('Merci Abidjan')

Merci Abidjan

In [31]:
x = 'gomycode'
y = 'gomycode'
if x == y:
    print('Welcome to Gomycode')

Welcome to Gomycode

In [36]:

num = 3
if num >0:
    print("is a positive number.") # what will be the output of this Q?
    
    
print("This is always printed. merci")

is a positive number.
This is always printed. merci

In [39]:

num = -3
if num >0:
    print(num,"is a positive number.") # what will be the output of this Q?
    
else:
    print(num,'is negative number')
    
    
print("This is always printed. merci")

-3 is negative number
This is always printed. merci

Python If-else Condition
The if-else clause evaluates the condition and will execute the statement only when the test condition is True.
If the condition is False, the else statement is executed.

In [41]:
my_number = 3

if my_number >= 0: 
    print(my_number,"Positive or Zero")  # the indentation is essential to separate the blocks.
else:
    print("Negative number")

3 Positive or Zero

In [ ]:
my_number = 3

if my_number >= -1: 
    print("Positive or Zero")  # the indentation is essential to separate the blocks.
else:
    print("Negative number")

In [44]:
x = (2>5) == (3==6)
   # False  ==  # False
if x :
    print(x,'x is True')
else:
    print('x is not True')

True x is True

In [ ]:
x = (2>5) == (3==6)
   # False  ==  # False
if x == True :
    print(x,'x is True')
else:
    print('x is not True')

In [45]:
x = (2>5) != (3==6)
   # False  ==  # False
if x:
    print(x,'x is True')
else:
    print('x is not True')

x is not True