In [1]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time
time.sleep(2)
## open a new driver
driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver')
time.sleep(3)
url = 'https://lonaci.net/produits/loto_bonheur/resultats'
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class=\"loto-date\"]')
Date_list =[]
for x in date:
    Date_list.append(x.text)
first_no = driver.find_elements_by_xpath('//span[@class=\"loto-first-number\"]')
First_no = []
for x in first_no:
    First_no.append(x.text)
type_of_game = driver.find_elements_by_xpath('//h3[@class=\"loto-second-title\"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text)
lotto_no = driver.find_elements_by_xpath('//span[@class=\"loto-number\"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    Lotto_nos = Lotto_no[:48]
lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []  

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
data = pd.DataFrame({})
data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_139.csv')
time.sleep(3)
driver.close()

In [2]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,DIMANCHE 30 OCTOBRE 2022,56,TIRAGE «ESPOIR» N°236,61,23,12,60
1,DIMANCHE 30 OCTOBRE 2022,09,TIRAGE «ESPOIR» NUMEROS MACHINE N°236,62,26,49,38
2,DIMANCHE 30 OCTOBRE 2022,43,TIRAGE «AWALE» N°199,09,86,76,45
3,DIMANCHE 30 OCTOBRE 2022,48,TIRAGE «AWALE» NUMEROS MACHINE N°199,40,75,47,30
4,DIMANCHE 30 OCTOBRE 2022,70,TIRAGE «PRESTIGE» N°267,35,47,88,56
5,DIMANCHE 30 OCTOBRE 2022,46,TIRAGE «PRESTIGE» NUMEROS MACHINE N°267,50,80,75,78
6,DIMANCHE 30 OCTOBRE 2022,56,TIRAGE «BENEDICTION» N°219,84,11,59,80
7,DIMANCHE 30 OCTOBRE 2022,44,TIRAGE «BENEDICTION» NUMEROS MACHINE N°219,21,42,22,77
8,SAMEDI 29 OCTOBRE 2022,01,TIRAGE « MOAYE » N°199,22,73,62,75
9,SAMEDI 29 OCTOBRE 2022,30,TIRAGE « MOAYE » NUMEROS MACHINE N°199,80,34,57,86
10,SAMEDI 29 OCTOBRE 2022,90,TIRAGE « DIAMANT» N°748,25,52,55,30
11,SAMEDI 29 OCTOBRE 2022,40,TIRAGE « DIAMANT» NUMEROS MACHINE N°748,83,82,75,45

In [24]:
MyBox = [x for x in range(0,20) if x%2!=0]

In [25]:
MyBox

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
2**3

8

In [29]:
4**1/2

2.0

In [39]:
def test(a,b):
    x = int(a)
    y = int(b)
    var = (((x+12)**2)-(y**3))//9
    return var

In [42]:
test(20,56)

-19400

In [45]:
for x in range(0,20):
    print(x)
    if x==5:
        break

0
1
2
3
4
5

In [51]:
for x in range(0,20+1):
    if x==5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [59]:
my_string = 'Welcome to Python'

In [62]:
print('my_string[1]:-',my_string[1])

my_string[0]:- e

In [64]:
print(f'my_string[0]:-{my_string[1]}')

my_string[0]:-e

In [65]:
print(f"my_string[0]:-{my_string[1]}")

my_string[0]:-e

In [66]:
print('my_string[0]:-'+ my_string[1])

my_string[0]:-e

In [80]:
def test(str1, str2):
    a = str1[0:3]
    b = str2[0:3]
    print(f'My Output is: {a + b}')

In [81]:
test("Coding","World")

My Output is: CodWor