In [4]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time

time.sleep(2)
## open a new driver

driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver')
time.sleep(3)

url = 'https://lonaci.net/produits/loto_bonheur/resultats'
 
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class="loto-date"]')

Date_list =[]
for x in date:
    Date_list.append(x.text)

    
    
first_no = driver.find_elements_by_xpath('//span[@class="loto-first-number"]')
First_no = []
for x in first_no:
    First_no.append(x.text)   

type_of_game = driver.find_elements_by_xpath('//h3[@class="loto-second-title"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text) 
     
lotto_no = driver.find_elements_by_xpath('//span[@class="loto-number"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    
Lotto_nos = Lotto_no[:48] 

lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
import pandas as pd
data = pd.DataFrame({})

data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game 
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_36.csv')
time.sleep(3)
driver.close()

In [5]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,LUNDI 7 MARS 2022,56,TIRAGE «REVEIL» N°185,86,22,58,64
1,LUNDI 7 MARS 2022,19,TIRAGE «REVEIL» NUMEROS MACHINE N°185,81,88,03,28
2,DIMANCHE 6 MARS 2022,41,TIRAGE «AWALE» N°165,60,12,02,65
3,DIMANCHE 6 MARS 2022,53,TIRAGE «AWALE» NUMEROS MACHINE N°165,08,28,82,22
4,DIMANCHE 6 MARS 2022,67,TIRAGE «PRESTIGE» N°233,40,64,83,62
5,DIMANCHE 6 MARS 2022,68,TIRAGE «PRESTIGE» NUMEROS MACHINE N°233,22,37,87,13
6,DIMANCHE 6 MARS 2022,39,TIRAGE «BENEDICTION» N°185,09,06,37,51
7,DIMANCHE 6 MARS 2022,77,TIRAGE «BENEDICTION» NUMEROS MACHINE N°185,20,86,55,28
8,SAMEDI 5 MARS 2022,90,TIRAGE «SATURDAY NATIONAL » N°3098,61,80,72,84
9,SAMEDI 5 MARS 2022,89,TIRAGE « MOAYE » NUMEROS MACHINE N°165,65,82,86,13
10,SAMEDI 5 MARS 2022,17,TIRAGE « MOAYE » N°165,88,23,38,18
11,SAMEDI 5 MARS 2022,20,TIRAGE « DIAMANT» NUMEROS MACHINE N°714,63,37,74,77

In [6]:
import os
import glob
import pandas as pd
os.chdir('/Users/oliverla412/Desktop/Place_project/Lot')

In [7]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [8]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

#export to csv

combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [12]:
b_data= pd.read_csv('combined_csv.csv')

In [3]:
#b_data

In [14]:
b_data.duplicated().sum()

6