In [1]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time

time.sleep(2)
## open a new driver

driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver')
time.sleep(3)

url = 'https://lonaci.net/produits/loto_bonheur/resultats'
 
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class="loto-date"]')

Date_list =[]
for x in date:
    Date_list.append(x.text)

    
    
first_no = driver.find_elements_by_xpath('//span[@class="loto-first-number"]')
First_no = []
for x in first_no:
    First_no.append(x.text)   

type_of_game = driver.find_elements_by_xpath('//h3[@class="loto-second-title"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text) 
     
lotto_no = driver.find_elements_by_xpath('//span[@class="loto-number"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    
Lotto_nos = Lotto_no[:48] 

lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
import pandas as pd
data = pd.DataFrame({})

data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game 
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_40.csv')
time.sleep(3)
driver.close()

In [2]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,JEUDI 10 MARS 2022,19,TIRAGE «KADO» N°184,60,30,54,81
1,JEUDI 10 MARS 2022,67,TIRAGE «KADO» NUMEROS MACHINE N°184,03,23,29,78
2,MERCREDI 9 MARS 2022,34,TIRAGE « MID WEEK » N°953,49,08,77,69
3,MERCREDI 9 MARS 2022,26,TIRAGE «BARAKA» NUMEROS MACHINE N°166,07,04,09,33
4,MERCREDI 9 MARS 2022,02,TIRAGE «BARAKA» N°166,37,14,24,30
5,MERCREDI 9 MARS 2022,46,TIRAGE «FORTUNE» NUMEROS MACHINE N°714,63,86,69,12
6,MERCREDI 9 MARS 2022,05,TIRAGE «FORTUNE» N°714,03,39,15,72
7,MERCREDI 9 MARS 2022,70,TIRAGE «PREMIERE HEURE» NUMEROS MACHINE N°185,73,30,76,06
8,MERCREDI 9 MARS 2022,63,TIRAGE «PREMIERE HEURE» N°185,21,42,12,28
9,MARDI 8 MARS 2022,69,TIRAGE «SIKA» NUMEROS MACHINE N°166,79,85,10,09
10,MARDI 8 MARS 2022,46,TIRAGE « LUCKY TUESDAY » N°756,40,01,19,38
11,MARDI 8 MARS 2022,61,TIRAGE « EMERGENCE » NUMEROS MACHINE N°306,68,47,16,42

In [25]:
data.shape

(12, 7)

# Putting all the .csv files into  a single file. (Concatination)

In [3]:
import os
import glob
import pandas as pd
os.chdir('/Users/oliverla412/Desktop/Place_project/Lot')

In [4]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [5]:
len(all_filenames)

39

In [6]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

#export to csv

combined_csv.to_csv( "Big_data.csv", index=False, encoding='utf-8-sig')

In [7]:
My_data= pd.read_csv('Big_data.csv')

## Data Clearning (EDA Exploratory Data Analysis).

In [8]:
My_data

,Unnamed: 0,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,0,MERCREDI 2 FÉVRIER 2022,22,TIRAGE «FORTUNE» N°709,7,36,52,14
1,1,MERCREDI 2 FÉVRIER 2022,3,TIRAGE «FORTUNE» N°709,73,85,63,54
2,2,MERCREDI 2 FÉVRIER 2022,58,« LUCKY TUESDAY » N°751,24,87,60,39
3,3,MERCREDI 2 FÉVRIER 2022,19,« LUCKY TUESDAY » N°751,43,85,36,30
4,4,MARDI 1 FÉVRIER 2022,82,« LUCKY TUESDAY » N°751,16,47,52,68
...,...,...,...,...,...,...,...,...
451,7,LUNDI 14 FÉVRIER 2022,26,TIRAGE «REVEIL» NUMEROS MACHINE N°182,39,45,54,87
452,8,LUNDI 14 FÉVRIER 2022,14,TIRAGE «REVEIL» N°182,1,33,74,89
453,9,DIMANCHE 13 FÉVRIER 2022,21,TIRAGE «ESPOIR» NUMEROS MACHINE N°199,85,35,34,18
454,10,DIMANCHE 13 FÉVRIER 2022,23,TIRAGE «ESPOIR» N°199,58,2,68,65
455,11,DIMANCHE 13 FÉVRIER 2022,16,TIRAGE «AWALE» NUMEROS MACHINE N°162,73,59,71,62

In [9]:
My_data.shape

(456, 8)

In [10]:
My_data.duplicated().sum()

6

In [58]:
import pandas as pd

In [59]:
Data = pd.DataFrame({})

In [60]:
import warnings
warnings.filterwarnings('ignore')

In [61]:
#### edata = My_data[['play_days','Type_of_game','First_number']] # selection of attributes for the project

date = edata.play_days

day =[]
day_no =[]
month = []
for x in date:
    x = x.split(' ')
    day.append(x[0])
    day_no.append(x[1])
    month.append(x[2])
    #print()
Data['day'] = day[:440]
Data['day_no'] = day_no[:440]
Data['month'] = month[:440]

## dropping play_days coulumns
edata.drop(columns=edata[['play_days']],axis=1,inplace=True)

# cleaning the type of games
games = edata.Type_of_game

Machine_no =[] # getting the machine no
for c in games:
    c = c.split(' ')
    Machine_no.append(c[-1])
# getting all possible type of games

array = []
for c in games:
    c = c.split(' ')
    array.append(c)
    #print(c)  
# creating an array containing all categorical type of games
f = ['LUCKY', '«FORTUNE»','SIKA»','EMERGENCE','MATINALE','«AKWABA»','EMERGENCE','«ETOILE»','«REVEIL»','«KADO»','MID',\
    '«BARAKA»','SOLUTION','«MONNI»','«PRIVILEGE»','«BENEDICTION»','BONANZA»','«MONDAY','«ESPOIR»','«AWALE»',\
    'MOAYE','DIAMANT»','SOUTRA»','«SATURDAY','«PREMIERE','«PRESTIGE»','«CASH»','WARI','FORTUNE','«SIKA»']

vs = []
for x in array:
    #print(x) 
    vs.append(x)
    
target = []
for x in vs:
    #print(x)
    for y in x:
        if y in f:
            target.append(y)    
Data['Machine_no'] = Machine_no[:440]
Data['game_type'] = target[:440] 
edata.drop(columns=edata[['Type_of_game']],axis=1,inplace=True)

In [62]:
len(Machine_no), len(target),len(day),len(day_no),len(month)

(444, 440, 444, 444, 444)

In [63]:
Data

          day day_no    month Machine_no  game_type
0    MERCREDI      2  FÉVRIER      N°709  «FORTUNE»
1    MERCREDI      2  FÉVRIER      N°709  «FORTUNE»
2    MERCREDI      2  FÉVRIER      N°751      LUCKY
3    MERCREDI      2  FÉVRIER      N°751      LUCKY
4       MARDI      1  FÉVRIER      N°751      LUCKY
..        ...    ...      ...        ...        ...
435     LUNDI     14  FÉVRIER      N°163   «REVEIL»
436     LUNDI     14  FÉVRIER      N°163   «REVEIL»
437     LUNDI     14  FÉVRIER      N°302   «ESPOIR»
438     LUNDI     14  FÉVRIER      N°302   «ESPOIR»
439     LUNDI     14  FÉVRIER      N°182    «AWALE»

[440 rows x 5 columns]

In [40]:
edata.shape

(444, 6)

In [41]:
edata['First_number']

0      22
1       3
2      58
3      19
4      82
       ..
439    26
440    14
441    21
442    23
443    16
Name: First_number, Length: 444, dtype: int64