In [1]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time

time.sleep(2)
## open a new driver

driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver')
time.sleep(3)

url = 'https://lonaci.net/produits/loto_bonheur/resultats'
 
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class="loto-date"]')

Date_list =[]
for x in date:
    Date_list.append(x.text)

    
    
first_no = driver.find_elements_by_xpath('//span[@class="loto-first-number"]')
First_no = []
for x in first_no:
    First_no.append(x.text)   

type_of_game = driver.find_elements_by_xpath('//h3[@class="loto-second-title"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text) 
     
lotto_no = driver.find_elements_by_xpath('//span[@class="loto-number"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    
Lotto_nos = Lotto_no[:48] 

lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
import pandas as pd
data = pd.DataFrame({})

data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game 
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_41.csv')
time.sleep(3)
driver.close()

In [2]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,VENDREDI 11 MARS 2022,33,TIRAGE «CASH» N°186,47,82,46,54
1,VENDREDI 11 MARS 2022,58,TIRAGE «CASH» NUMEROS MACHINE N°186,13,51,59,79
2,JEUDI 10 MARS 2022,46,TIRAGE «MONNI» N°166,41,11,07,02
3,JEUDI 10 MARS 2022,04,TIRAGE «MONNI» NUMEROS MACHINE N°166,80,65,13,68
4,JEUDI 10 MARS 2022,72,TIRAGE «PRIVILEGE» N°306,38,53,81,84
5,JEUDI 10 MARS 2022,79,TIRAGE «PRIVILEGE» NUMEROS MACHINE N°306,44,33,35,76
6,JEUDI 10 MARS 2022,19,TIRAGE «KADO» N°184,60,30,54,81
7,JEUDI 10 MARS 2022,67,TIRAGE «KADO» NUMEROS MACHINE N°184,03,23,29,78
8,MERCREDI 9 MARS 2022,34,TIRAGE « MID WEEK » N°953,49,08,77,69
9,MERCREDI 9 MARS 2022,26,TIRAGE «BARAKA» NUMEROS MACHINE N°166,07,04,09,33
10,MERCREDI 9 MARS 2022,02,TIRAGE «BARAKA» N°166,37,14,24,30
11,MERCREDI 9 MARS 2022,46,TIRAGE «FORTUNE» NUMEROS MACHINE N°714,63,86,69,12

In [10]:
data.shape

(12, 7)

# Putting all the .csv files into  a single file. (Concatination)

In [11]:
import os
import glob
import pandas as pd
os.chdir('/Users/oliverla412/Desktop/Place_project/Lot')

In [12]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [13]:
len(all_filenames)

41

In [14]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

#export to csv

combined_csv.to_csv( "Big_data.csv", index=False, encoding='utf-8-sig')

In [15]:
My_data= pd.read_csv('Big_data.csv')

## Data Clearning (EDA Exploratory Data Analysis).

In [16]:
My_data

,Unnamed: 0,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,0,MERCREDI 2 FÉVRIER 2022,22,TIRAGE «FORTUNE» N°709,7,36,52,14
1,1,MERCREDI 2 FÉVRIER 2022,3,TIRAGE «FORTUNE» N°709,73,85,63,54
2,2,MERCREDI 2 FÉVRIER 2022,58,« LUCKY TUESDAY » N°751,24,87,60,39
3,3,MERCREDI 2 FÉVRIER 2022,19,« LUCKY TUESDAY » N°751,43,85,36,30
4,4,MARDI 1 FÉVRIER 2022,82,« LUCKY TUESDAY » N°751,16,47,52,68
...,...,...,...,...,...,...,...,...
475,7,LUNDI 14 FÉVRIER 2022,26,TIRAGE «REVEIL» NUMEROS MACHINE N°182,39,45,54,87
476,8,LUNDI 14 FÉVRIER 2022,14,TIRAGE «REVEIL» N°182,1,33,74,89
477,9,DIMANCHE 13 FÉVRIER 2022,21,TIRAGE «ESPOIR» NUMEROS MACHINE N°199,85,35,34,18
478,10,DIMANCHE 13 FÉVRIER 2022,23,TIRAGE «ESPOIR» N°199,58,2,68,65
479,11,DIMANCHE 13 FÉVRIER 2022,16,TIRAGE «AWALE» NUMEROS MACHINE N°162,73,59,71,62

In [17]:
My_data.shape

(480, 8)

In [18]:
My_data.duplicated().sum()

6

In [19]:
import pandas as pd

In [20]:
Data = pd.DataFrame({})

In [21]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
#### edata = My_data[['play_days','Type_of_game','First_number']] # selection of attributes for the project

date = My_data.play_days

day =[]
day_no =[]
month = []
for x in date:
    x = x.split(' ')
    day.append(x[0])
    day_no.append(x[1])
    month.append(x[2])
    #print()
Data['day'] = day[:472]
Data['day_no'] = day_no[:472]
Data['month'] = month[:472]

## dropping play_days coulumns
My_data.drop(columns=My_data[['play_days']],axis=1,inplace=True)

# cleaning the type of games
games = My_data.Type_of_game

Machine_no =[] # getting the machine no
for c in games:
    c = c.split(' ')
    Machine_no.append(c[-1])
# getting all possible type of games

array = []
for c in games:
    c = c.split(' ')
    array.append(c)
    #print(c)  
# creating an array containing all categorical type of games
f = ['LUCKY', '«FORTUNE»','SIKA»','EMERGENCE','MATINALE','«AKWABA»','EMERGENCE','«ETOILE»','«REVEIL»','«KADO»','MID',\
    '«BARAKA»','SOLUTION','«MONNI»','«PRIVILEGE»','«BENEDICTION»','BONANZA»','«MONDAY','«ESPOIR»','«AWALE»',\
    'MOAYE','DIAMANT»','SOUTRA»','«SATURDAY','«PREMIERE','«PRESTIGE»','«CASH»','WARI','FORTUNE','«SIKA»']

vs = []
for x in array:
    #print(x) 
    vs.append(x)
    
target = []
for x in vs:
    #print(x)
    for y in x:
        if y in f:
            target.append(y)    
Data['Machine_no'] = Machine_no[:472]
Data['game_type'] = target[:472] 
Data['First_number'] = My_data['First_number'][:472]
My_data.drop(columns=My_data[['Type_of_game']],axis=1,inplace=True)

In [22]:
My_data['First_number'][:472]

0      22
1       3
2      58
3      19
4      82
       ..
467    89
468    63
469    16
470    65
471    53
Name: First_number, Length: 472, dtype: int64

In [24]:
Data

          day day_no    month Machine_no  game_type  First_number
0    MERCREDI      2  FÉVRIER      N°709  «FORTUNE»            22
1    MERCREDI      2  FÉVRIER      N°709  «FORTUNE»             3
2    MERCREDI      2  FÉVRIER      N°751      LUCKY            58
3    MERCREDI      2  FÉVRIER      N°751      LUCKY            19
4       MARDI      1  FÉVRIER      N°751      LUCKY            82
..        ...    ...      ...        ...        ...           ...
467  MERCREDI      2     MARS      N°184   «ETOILE»            89
468     MARDI     15  FÉVRIER      N°182   «ETOILE»            63
469     MARDI     15  FÉVRIER      N°182   «REVEIL»            16
470     LUNDI     14  FÉVRIER      N°820   «REVEIL»            65
471     LUNDI     14  FÉVRIER      N°163   «ESPOIR»            53

[472 rows x 6 columns]

In [19]:
Data.day.unique()

array(['MERCREDI', 'MARDI', 'LUNDI', 'JEUDI', 'VENDREDI', 'DIMANCHE',
       'SAMEDI'], dtype=object)

In [20]:
avk =[]
for x in Data.game_type.unique():
    avk.append(x)

In [21]:
len(avk)

29

In [22]:
Data.game_type.unique()

array(['«FORTUNE»', 'LUCKY', 'SIKA»', 'EMERGENCE', 'MATINALE', '«AKWABA»',
       '«PREMIERE', '«SIKA»', '«ETOILE»', '«REVEIL»', '«KADO»', 'MID',
       '«BARAKA»', 'SOLUTION', '«CASH»', '«MONNI»', '«PRIVILEGE»',
       '«PRESTIGE»', '«BENEDICTION»', 'SOUTRA»', 'BONANZA»', 'WARI',
       '«MONDAY', '«ESPOIR»', '«AWALE»', 'MOAYE', 'DIAMANT»', '«SATURDAY',
       'FORTUNE'], dtype=object)

In [23]:
Data['game_type'] = Data['game_type'].replace({'«SIKA»':'SIKA','SIKA»':'SIKA','«CASH»':'CASH','«FORTUNE»':'FORTUNE',
                                              '«AKWABA»':'AKWABA','«PREMIERE':'PREMIERE','«ETOILE»':'ETOILE','«REVEIL»':'REVEIL',
                                              '«KADO»':'KADO','«BARAKA»':'BARAKA','«MONNI»':'MONNI','«PRIVILEGE»':'PRIVILEGE',
                                             '«PRESTIGE»':'PRESTIGE','«BENEDICTION»':'BENEDICTION','SOUTRA»':'SOUTRA',
                                              'BONANZA»':'BONANZA','«MONDAY':'MONDAY','«ESPOIR»':'ESPOIR',
                                              '«AWALE»':'AWALE','DIAMANT»':'DIAMANT','«SATURDAY':'SATURDAY'})

In [24]:
Data['game_type']

0      FORTUNE
1      FORTUNE
2        LUCKY
3        LUCKY
4        LUCKY
        ...
457     REVEIL
458     REVEIL
459     ESPOIR
460     ESPOIR
461      AWALE
Name: game_type, Length: 462, dtype: object

In [25]:
Data.game_type.unique()

array(['FORTUNE', 'LUCKY', 'SIKA', 'EMERGENCE', 'MATINALE', 'AKWABA',
       'PREMIERE', 'ETOILE', 'REVEIL', 'KADO', 'MID', 'BARAKA',
       'SOLUTION', 'CASH', 'MONNI', 'PRIVILEGE', 'PRESTIGE',
       'BENEDICTION', 'SOUTRA', 'BONANZA', 'WARI', 'MONDAY', 'ESPOIR',
       'AWALE', 'MOAYE', 'DIAMANT', 'SATURDAY'], dtype=object)

In [26]:
Data['Machine_no'][:5]

0    N°709
1    N°709
2    N°751
3    N°751
4    N°751
Name: Machine_no, dtype: object

In [27]:
mach_no = []
for x in Data['Machine_no']:
    arr = x.split('N°')
    mach_no.append(arr[-1])
Data['Machine_no'] = mach_no

In [28]:
Data.head(3)

        day day_no    month Machine_no game_type
0  MERCREDI      2  FÉVRIER        709   FORTUNE
1  MERCREDI      2  FÉVRIER        709   FORTUNE
2  MERCREDI      2  FÉVRIER        751     LUCKY

## Let's used Label Encoder to convert the text data into numerical data for some columns those are not musearable or unscable.

In [59]:
#!pip3 install scipy==1.7.1 numpy==1.18.5 scikit-learn==0.24.2 --no-cache-dir --no-binary :all:

In [29]:
#importing the libaries
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [30]:
Data.to_csv('project_sample.csv',index=False)

In [31]:
Data.head(3)

        day day_no    month Machine_no game_type
0  MERCREDI      2  FÉVRIER        709   FORTUNE
1  MERCREDI      2  FÉVRIER        709   FORTUNE
2  MERCREDI      2  FÉVRIER        751     LUCKY

In [ ]:
unscalable = non_num_data.drop(scalable,axis=1)

In [ ]:
unscalable = unscalable.apply(LabelEncoder().fit_transform)

In [66]:
import numpy as np

In [33]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from sklearn) (1.0)
Requirement already satisfied: scipy>=1.1.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn->sklearn) (3.0.0)
Requirement already satisfied: numpy>=1.14.6 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.1.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=864a26d072d81c8ecfb20711741300e6054b32fe69b663706f2c339ddfe8616c
  Stored in directory: /Users/oliverla412/Library/Caches/pip/wheels/e4/7b/98/b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [36]:
from sklearn.preprocessing import label_binarize

ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 96 from C header, got 80 from PyObject