In [2]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time
time.sleep(2)
## open a new driver
driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver')
time.sleep(3)
url = 'https://lonaci.net/produits/loto_bonheur/resultats'
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class=\"loto-date\"]')
Date_list =[]
for x in date:
    Date_list.append(x.text)
first_no = driver.find_elements_by_xpath('//span[@class=\"loto-first-number\"]')
First_no = []
for x in first_no:
    First_no.append(x.text)
type_of_game = driver.find_elements_by_xpath('//h3[@class=\"loto-second-title\"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text)
lotto_no = driver.find_elements_by_xpath('//span[@class=\"loto-number\"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    Lotto_nos = Lotto_no[:48]
lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []  

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
data = pd.DataFrame({})
data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_82.csv')
time.sleep(3)
driver.close()

In [3]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,MARDI 7 JUIN 2022,36,TIRAGE «SIKA» N°179,60,52,14,72
1,MARDI 7 JUIN 2022,27,TIRAGE «SIKA» NUMEROS MACHINE N°179,75,04,70,33
2,MARDI 7 JUIN 2022,77,TIRAGE « EMERGENCE » N°319,63,16,13,53
3,MARDI 7 JUIN 2022,15,TIRAGE « EMERGENCE » NUMEROS MACHINE N°319,37,72,62,47
4,MARDI 7 JUIN 2022,07,TIRAGE « LA MATINALE » N°198,73,61,82,25
5,MARDI 7 JUIN 2022,70,TIRAGE « LA MATINALE » NUMEROS MACHINE N°198,15,39,76,11
6,LUNDI 6 JUIN 2022,72,TIRAGE «ETOILE» N°318,90,15,28,82
7,LUNDI 6 JUIN 2022,68,TIRAGE «ETOILE» NUMEROS MACHINE N°318,88,36,78,65
8,LUNDI 6 JUIN 2022,57,TIRAGE «REVEIL» N°198,84,50,63,54
9,LUNDI 6 JUIN 2022,66,TIRAGE «REVEIL» NUMEROS MACHINE N°198,28,88,06,36
10,DIMANCHE 5 JUIN 2022,33,TIRAGE «ESPOIR» N°215,74,24,84,07
11,DIMANCHE 5 JUIN 2022,06,TIRAGE «ESPOIR» NUMEROS MACHINE N°215,48,56,05,42

In [1]:
ls

Big_data.csv               Data_49.csv
Big_data.xlsx              Data_5.csv
Data_1.csv                 Data_50.csv
Data_10.csv                Data_51.csv
Data_11.csv                Data_52.csv
Data_12.csv                Data_53.csv
Data_13.csv                Data_54.csv
Data_14.csv                Data_55.csv
Data_15.csv                Data_56.csv
Data_16.csv                Data_57.csv
Data_20.csv                Data_58.csv
Data_21.csv                Data_59.csv
Data_22.csv                Data_6.csv
Data_23.csv                Data_60.csv
Data_24.csv                Data_61.csv
Data_25.csv                Data_62.csv
Data_26.csv                Data_63.csv
Data_27.csv                Data_64.csv
Data_28.csv                Data_65.csv
Data_29.csv                Data_66.csv
Data_3.csv                 Data_67.csv
Data_30.csv                Data_68.csv
Data_31.csv                Data_69.csv
Data_32.csv                Data_7.csv
Data_33.csv                Data_70.csv
Data_34.csv                Data_71.csv
Data_35.csv                Data_72.csv
Data_36.csv                Data_73.csv
Data_37.csv                Data_74.csv
Data_38.csv                Data_75.csv
Data_39.csv                Data_76.csv
Data_4.csv                 Data_77.csv
Data_40.csv                Data_78.csv
Data_41.csv                Data_79.csv
Data_42.csv                Data_8.csv
Data_43.csv                Data_80.csv
Data_44.csv                Data_81.csv
Data_45.csv                Data_9.csv
Data_46.csv                MySQL_db.ipynb
Data_47.csv                Recall.ipynb
Data_48.csv                data_collection_new.ipynb