In [ ]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time
time.sleep(2)
## open a new driver
driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver')
time.sleep(3)
url = 'https://lonaci.net/produits/loto_bonheur/resultats'
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class=\"loto-date\"]')
Date_list =[]
for x in date:
    Date_list.append(x.text)
first_no = driver.find_elements_by_xpath('//span[@class=\"loto-first-number\"]')
First_no = []
for x in first_no:
    First_no.append(x.text)
type_of_game = driver.find_elements_by_xpath('//h3[@class=\"loto-second-title\"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text)
lotto_no = driver.find_elements_by_xpath('//span[@class=\"loto-number\"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    Lotto_nos = Lotto_no[:48]
lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []  

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
data = pd.DataFrame({})
data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_85.csv')
time.sleep(3)
driver.close()

In [21]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,DIMANCHE 12 JUIN 2022,52,TIRAGE «BENEDICTION» N°199,40,03,83,78
1,DIMANCHE 12 JUIN 2022,51,TIRAGE «BENEDICTION» NUMEROS MACHINE N°199,79,84,17,05
2,SAMEDI 11 JUIN 2022,13,TIRAGE « MOAYE » N°179,81,58,38,15
3,SAMEDI 11 JUIN 2022,02,TIRAGE « MOAYE » NUMEROS MACHINE N°179,73,42,64,50
4,SAMEDI 11 JUIN 2022,65,TIRAGE « DIAMANT» N°728,70,50,41,77
5,SAMEDI 11 JUIN 2022,80,TIRAGE « DIAMANT» NUMEROS MACHINE N°728,54,73,09,71
6,SAMEDI 11 JUIN 2022,61,TIRAGE « SOUTRA» N°199,66,47,38,30
7,SAMEDI 11 JUIN 2022,90,TIRAGE « SOUTRA» NUMEROS MACHINE N°199,86,34,37,64
8,SAMEDI 11 JUIN 2022,56,TIRAGE «SATURDAY NATIONAL » N°3112,75,50,64,18
9,VENDREDI 10 JUIN 2022,85,TIRAGE « WARI » NUMEROS MACHINE N°179,34,28,82,80
10,VENDREDI 10 JUIN 2022,37,TIRAGE « FRIDAY BONANZA» N° 740,74,66,85,05
11,VENDREDI 10 JUIN 2022,66,TIRAGE « SOLUTION » NUMEROS MACHINE N°319,03,90,44,61

In [5]:
ls

Big_data.csv               Data_50.csv
Big_data.xlsx              Data_51.csv
Data_1.csv                 Data_52.csv
Data_10.csv                Data_53.csv
Data_11.csv                Data_54.csv
Data_12.csv                Data_55.csv
Data_13.csv                Data_56.csv
Data_14.csv                Data_57.csv
Data_15.csv                Data_58.csv
Data_16.csv                Data_59.csv
Data_20.csv                Data_6.csv
Data_21.csv                Data_60.csv
Data_22.csv                Data_61.csv
Data_23.csv                Data_62.csv
Data_24.csv                Data_63.csv
Data_25.csv                Data_64.csv
Data_26.csv                Data_65.csv
Data_27.csv                Data_66.csv
Data_28.csv                Data_67.csv
Data_29.csv                Data_68.csv
Data_3.csv                 Data_69.csv
Data_30.csv                Data_7.csv
Data_31.csv                Data_70.csv
Data_32.csv                Data_71.csv
Data_33.csv                Data_72.csv
Data_34.csv                Data_73.csv
Data_35.csv                Data_74.csv
Data_36.csv                Data_75.csv
Data_37.csv                Data_76.csv
Data_38.csv                Data_77.csv
Data_39.csv                Data_78.csv
Data_4.csv                 Data_79.csv
Data_40.csv                Data_8.csv
Data_41.csv                Data_80.csv
Data_42.csv                Data_81.csv
Data_43.csv                Data_82.csv
Data_44.csv                Data_83.csv
Data_45.csv                Data_84.csv
Data_46.csv                Data_9.csv
Data_47.csv                MySQL_db.ipynb
Data_48.csv                Recall.ipynb
Data_49.csv                data_collection_new.ipynb
Data_5.csv

In [7]:
x = 20
y = 20
if x ==y:
print('yes')

IndentationError: expected an indented block (2554284751.py, line 4)

In [ ]:
"""
wkjwjkdjwhnnfw
fwhvhfwvhjvfw
wjhhjvhhjvfw
fwvhjvhhvfw
"""

In [8]:
import math

In [28]:
print(math.sqrt(4))

2.0

In [11]:
x = input()

90

In [12]:
print('fdwdwhjgjdwjh')

fdwdwhjgjdwjh

In [19]:
X=100
Y = 10
for x in range(0,10):
    print('Hello World:',x)
X

Hello World: 0
Hello World: 1
Hello World: 2
Hello World: 3
Hello World: 4
Hello World: 5
Hello World: 6
Hello World: 7
Hello World: 8
Hello World: 9

100

In [ ]:
a = 10  j
b = 90
c = 20

In [24]:
MyBox = [x for x in range(0,20) if x%2!=0]

In [25]:
MyBox

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
2**3

8

In [29]:
4**1/2

2.0

In [39]:
def test(a,b):
    x = int(a)
    y = int(b)
    var = (((x+12)**2)-(y**3))//9
    return var

In [42]:
test(20,56)

-19400

In [45]:
for x in range(0,20):
    print(x)
    if x==5:
        break

0
1
2
3
4
5

In [51]:
for x in range(0,20+1):
    if x==5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [59]:
my_string = 'Welcome to Python'

In [62]:
print('my_string[0]:-',my_string[1])

my_string[0]:- e

In [64]:
print(f'my_string[0]:-{my_string[1]}')

my_string[0]:-e

In [65]:
print(f"my_string[0]:-{my_string[1]}")

my_string[0]:-e

In [66]:
print('my_string[0]:-'+ my_string[1])

my_string[0]:-e

In [80]:
def test(str1, str2):
    a = str1[0:3]
    b = str2[0:3]
    print(f'My Output is: {a + b}')

In [81]:
test("Coding","World")

My Output is: CodWor