In [77]:
import pandas as pd
import numpy as np 
import mysql.connector as conn

db = conn.connect(
user = 'root',
password = 'Assie@225',
host ='localhost',
port=3306,
database='employees',
auth_plugin='mysql_native_password'    
)

In [65]:
my_cursor = db.cursor()
my_cursor.execute('SHOW TABLES')

for x in my_cursor:
    print(x)

(bytearray(b'T'),)
(bytearray(b'TT'),)
(bytearray(b'annum_select_salary'),)
(bytearray(b'current_dept_emp'),)
(bytearray(b'departments'),)
(bytearray(b'dept_emp'),)
(bytearray(b'dept_emp_latest_date'),)
(bytearray(b'dept_manager'),)
(bytearray(b'employees'),)
(bytearray(b'salaries'),)
(bytearray(b'titles'),)

In [66]:
my_cursor = db.cursor()

In [10]:
#my_cursor.execute('select *from employees')

In [12]:
# for x in my_cursor:
#     print(x)
#     print('**'*5)

In [18]:
my_cursor.execute('SHOW DATABASES')

In [19]:
for x in my_cursor:
    print(x)
    print('**'*5)

(bytearray(b'Big_data'),)
**********
(bytearray(b'employees'),)
**********
(bytearray(b'information_schema'),)
**********
(bytearray(b'mysql'),)
**********
(bytearray(b'performance_schema'),)
**********
(bytearray(b'shop_database'),)
**********
(bytearray(b'sys'),)
**********

In [78]:
## How to create a database

my_cursor = db.cursor()

In [70]:
my_cursor.execute('USE employees;')

In [72]:
my_cursor.execute('DROP DATABASE database2;')

In [73]:
db.commit()

In [79]:
my_cursor.execute('SHOW DATABASES')

In [80]:
for x in my_cursor:
    print(x)
    print('---'*5)

(bytearray(b'Big_data'),)
---------------
(bytearray(b'database1'),)
---------------
(bytearray(b'employees'),)
---------------
(bytearray(b'information_schema'),)
---------------
(bytearray(b'mysql'),)
---------------
(bytearray(b'performance_schema'),)
---------------
(bytearray(b'shop_database'),)
---------------
(bytearray(b'sys'),)
---------------

In [81]:
my_cursor = db.cursor()

In [36]:
my_cursor.execute('')

('emp_no', b'int', 'NO', bytearray(b'PRI'), None, '')
---------------
('birth_date', b'date', 'NO', bytearray(b''), None, '')
---------------
('first_name', b'varchar(14)', 'NO', bytearray(b''), None, '')
---------------
('last_name', b'varchar(16)', 'NO', bytearray(b''), None, '')
---------------
('gender', b"enum('M','F')", 'NO', bytearray(b''), None, '')
---------------
('hire_date', b'date', 'NO', bytearray(b''), None, '')
---------------

In [41]:
my_cursor = db.cursor()

In [42]:
my_cursor.execute('SELECT *FROM employees LIMIT 10')

In [43]:
for x in my_cursor:
    print(x)
    print('---'*5)

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
---------------
(10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21))
---------------
(10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))
---------------
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
---------------
(10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))
---------------
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
---------------
(10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10))
---------------
(10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15))
---------------
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
---------------
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))
---------------

In [61]:
my_cursor = db.cursor()

In [62]:
my_cursor.execute('UPDATE employees SET first_name = "Houphouet",last_name="Assie",birth_date ="2022-05-26",gender ="M" WHERE emp_no = 999901')

In [63]:
db.commit()

In [ ]:
CREATE TABLE `employees` (
  `emp_no` int NOT NULL,
  `birth_date` date NOT NULL,
  `first_name` varchar(14) NOT NULL,
  `last_name` varchar(16) NOT NULL,
  `gender` enum('M','F') NOT NULL,
  `hire_date` date NOT NULL,
  PRIMARY KEY (`emp_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [ ]:
UPDATE employees 
SET 
    first_name = 'Stella',
    last_name = 'Parkinson',
    birth_date = '1990-12-31',
    gender = 'F'
WHERE
    emp_no = 999901;