In [2]:

import pandas as pd
import numpy as np 
import mysql.connector as conn

db = conn.connect(
user = 'root',
password = 'Assie@225',
host ='localhost',
port=3306,
database='shop_database',
auth_plugin='mysql_native_password'    
)

my_cursor = db.cursor()
my_cursor.execute('SHOW TABLES')

for x in my_cursor:
    print(x)

(bytearray(b'phone'),)

In [23]:
my_cursor.execute('SELECT *FROM phone')

In [17]:
import pandas as pd
import numpy as np

In [24]:
data = pd.DataFrame({})

In [25]:
for x in my_cursor:
    print(x)

(100, 'Iphone12', 'Iphone', 25000)
(101, 'Iphone 12 Pro', 'Iphone', 25000)
(102, 'vivo v20', 'Vivo', 27000)
(103, 'Samsung S17', 'Samsung', 56000)
(104, 'Oppo A12', 'Oppo', 29000)
(105, 'Airtel F1', 'Airtel', 28000)
(106, 'Nokia Q2', 'Nokia', 27000)
(107, 'Alcatel G4', 'Alcatel', 28000)
(108, 'Teckno P1', 'Teckno', 66000)
(109, 'Iphone 13', 'Iphone', 77000)
(110, 'Samsung S20', 'Samsung', 67000)
(1011, 'vivo v20', 'Vivo', 27000)
(1012, 'Samsung S17', 'Samsung', 56000)
(1013, 'Oppo A12', 'Oppo', 29000)
(1014, 'Airtel F1', 'Airtel', 28000)
(1015, 'Nokia Q2', 'Nokia', 27000)
(1016, 'Alcatel G4', 'Alcatel', 28000)
(1017, 'Teckno P1', 'Teckno', 66000)
(1018, 'Iphone 13', 'Iphone', 77000)
(119, 'Samsung S20', 'Samsung', 67000)

In [22]:
for x in my_cursor:
    data["id"] = x[0]
    data["Phone_name"] = x[1]
    data["brand"] = x[2]
    data["Price"] = x[3]
    data.to_csv('sql.csv')