### Saturday   12/11/2022

In [1]:
name = 'Oliver'
number = float(name)

ValueError: could not convert string to float: 'Oliver'

In [2]:
number = 200

## convert  number   into float type

my_float_number = float(number)
print(my_float_number)

200.0

In [3]:
print(type(number))

<class 'int'>

In [4]:
print(type(my_float_number))

<class 'float'>

In [7]:
float(5) #conversion from integer to float

5.0

In [8]:
float("2.5") #conversion from string to float

2.5

In [9]:


str(25) #conversion from integer to string

'25'

In [6]:


int("2") #conversion impossible, string must contain compatible values

2

In [ ]:
" "

In [ ]:
''

In [10]:
name = 'Oliver'

In [11]:
type(name)

str

In [12]:
print(name.upper())

OLIVER

In [13]:
x = True
y = False

In [17]:
y = (10 > 9) #
y

True

In [18]:
x = 10 < 9

In [19]:
x

False

In [20]:
name = 'Oliver'

In [21]:
name

'Oliver'

In [22]:
print(name)

Oliver

In [23]:
x = 10
x

10

In [24]:
x = 10
print(x)

10

In [25]:
x = 20 == 90
x

False

In [26]:
x = 20 == 90
print(x)

False

In [27]:
cv = 'www'

print(cv)

www

In [28]:
x = (20 == 10) ## est ce que 20 equal 10 ?
print(x)

False

In [30]:
if (20 == 20):
    print('Merci Abidjan')

Merci Abidjan

In [31]:
x = 'gomycode'
y = 'gomycode'
if x == y:
    print('Welcome to Gomycode')

Welcome to Gomycode

In [36]:

num = 3
if num >0:
    print("is a positive number.") # what will be the output of this Q?
    
    
print("This is always printed. merci")

is a positive number.
This is always printed. merci

In [39]:

num = -3
if num >0:
    print(num,"is a positive number.") # what will be the output of this Q?
    
else:
    print(num,'is negative number')
    
    
print("This is always printed. merci")

-3 is negative number
This is always printed. merci

Python If-else Condition
The if-else clause evaluates the condition and will execute the statement only when the test condition is True.
If the condition is False, the else statement is executed.

In [41]:
my_number = 3

if my_number >= 0: 
    print(my_number,"Positive or Zero")  # the indentation is essential to separate the blocks.
else:
    print("Negative number")

3 Positive or Zero

In [ ]:
my_number = 3

if my_number >= -1: 
    print("Positive or Zero")  # the indentation is essential to separate the blocks.
else:
    print("Negative number")

In [44]:
x = (2>5) == (3==6)
   # False  ==  # False
if x :
    print(x,'x is True')
else:
    print('x is not True')

True x is True

In [ ]:
x = (2>5) == (3==6)
   # False  ==  # False
if x == True :
    print(x,'x is True')
else:
    print('x is not True')

In [45]:
x = (2>5) != (3==6)
   # False  ==  # False
if x:
    print(x,'x is True')
else:
    print('x is not True')

x is not True

In [47]:
x=10

if x==1:
      print('X is equal to 1') ## NO NO 
elif x==5:
      print('X is equal to 5') # NO NO 
elif x==10:
      print('X is equal to 10') # YES YES 
else: 
      print('X =', x) ## NO NO

X is equal to 10

## What's the output of the following code?

In [48]:
x=19

if x < 10:
    print ("Good morning")
elif x<12: 
    print ("Soon time for lunch")

elif x<18: 
    print ("Good day")

elif x<22: 
    print ("Good evening")

else: 
    print ("Good night")

Good evening

In [49]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
print(type(numbers))

<class 'list'>

In [51]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

for val in numbers: # iterate over the list
    print(val)  
    
print("the for ends here")

6
5
3
8
4
2
5
4
11
the for ends here

In [52]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

## break

for val in numbers: # iterate over the list
    print(val)
    if  val==8:
        break

6
5
3
8

In [53]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

## break 

for val in numbers: # iterate over the list
    if  val==8:
        break
    print(val)

6
5
3

In [54]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

## contunue

for val in numbers: # iterate over the list
    
    if  val==8:
        continue
    print(val)

6
5
3
4
2
5
4
11

In [55]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

## contunue

for val in numbers: # iterate over the list
    
    if  val==8 or val ==2 :
        continue
    print(val)

6
5
3
4
5
4
11

In [56]:
# range(start, end, step)

numbers  = [x for x in range(0,10,1) ]

In [57]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
empty_list = []
for x in range(0,10,1):
    empty_list.append(x)
print(empty_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Python While Loop


The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is True.

In [66]:
my_sum = 0 ## Initial value

i = 1 # initialize sum and counter
n = 10

while i <= n:
    
    my_sum = my_sum + i
    
    i= i+1    # update counter i = 1 , i =2

print("The sum is", my_sum) # print the sum

The sum is 55

In [69]:
i = 0
while i < 5:
    print('Gomycode!')
    i=i+1

Gomycode!
Gomycode!
Gomycode!
Gomycode!
Gomycode!

In [72]:
i = 0
while i < 10:
    print('Gomycode!',i)
    i+=1 ### shotcut i+=1

Gomycode! 0
Gomycode! 1
Gomycode! 2
Gomycode! 3
Gomycode! 4
Gomycode! 5
Gomycode! 6
Gomycode! 7
Gomycode! 8
Gomycode! 9
Gomycode! 10

In [73]:
i = 0
while i < 10+1:
    print('Gomycode!',i)
    i+=1 ### shotcut i+=1

Gomycode! 0
Gomycode! 1
Gomycode! 2
Gomycode! 3
Gomycode! 4
Gomycode! 5
Gomycode! 6
Gomycode! 7
Gomycode! 8
Gomycode! 9
Gomycode! 10

In [74]:
i = 0
while i < 11:
    print('Gomycode!',i)
    i+=1 ### shotcut i+=1

Gomycode! 0
Gomycode! 1
Gomycode! 2
Gomycode! 3
Gomycode! 4
Gomycode! 5
Gomycode! 6
Gomycode! 7
Gomycode! 8
Gomycode! 9
Gomycode! 10

Objective
Learn, practice & have fun!

Question 1

Write a Python program that accepts the user's first and last name, and prints them in reverse order with a space between them.

Question 2

Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

The sample value of n is 5.

Expected Result: 615 (5+55+555)

Question 3

Write a Python program to find whether a given number (accept from the user) is even or odd, and print out an appropriate message to the user.

Question 4

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a sequence on a single line.

Hints: Consider use range(#begin, #end) method 

 

Question 5

Write a program that can compute the factorial of a given number. The results should be printed in a sequence on a single line. Suppose the following input is supplied to the program: 8. Then, the output should be: 40320 

Hint: The factorial function (symbol: !) multiplies all whole numbers from our chosen number down to 1. Examples: 

4! = 4 × 3 × 2 × 1

8! = 8 × 7 × 6 × 5 × 4 × 3 × 2 × 1

1! = 1

0! = 1 (by convention)

Question 6

Write a program to remove the characters which have odd index values of a given string.

For example: string ="hello team"

The result should be: hlota

Question 7

In this challenge, you must discount a price according to its value.

- If the price is 500 or above, there will be a 50% discount.

- If the price is between 200 and 500 (200 inclusive), there will be a 30% discount.

- If the price is less than 200, there will be a 10% discount.