In [1]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time

time.sleep(2)
## open a new driver

driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver')
time.sleep(3)

url = 'https://lonaci.net/produits/loto_bonheur/resultats'
 
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class="loto-date"]')

Date_list =[]
for x in date:
    Date_list.append(x.text)

    
    
first_no = driver.find_elements_by_xpath('//span[@class="loto-first-number"]')
First_no = []
for x in first_no:
    First_no.append(x.text)   

type_of_game = driver.find_elements_by_xpath('//h3[@class="loto-second-title"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text) 
     
lotto_no = driver.find_elements_by_xpath('//span[@class="loto-number"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    
Lotto_nos = Lotto_no[:48] 

lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
import pandas as pd
data = pd.DataFrame({})

data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game 
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_33.csv')
time.sleep(3)
driver.close()

In [2]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,MERCREDI 2 MARS 2022,77,TIRAGE « MID WEEK » N°952,43,88,18,52
1,MERCREDI 2 MARS 2022,83,TIRAGE «BARAKA» NUMEROS MACHINE N°165,14,24,38,87
2,MERCREDI 2 MARS 2022,54,TIRAGE «BARAKA» N°165,59,79,75,85
3,MERCREDI 2 MARS 2022,05,TIRAGE «FORTUNE» NUMEROS MACHINE N°713,48,72,62,33
4,MERCREDI 2 MARS 2022,46,TIRAGE «FORTUNE» N°713,36,02,74,06
5,MERCREDI 2 MARS 2022,89,TIRAGE «PREMIERE HEURE» NUMEROS MACHINE N°184,19,30,35,56
6,MERCREDI 2 MARS 2022,82,TIRAGE «PREMIERE HEURE» N°184,90,13,22,36
7,MARDI 1 MARS 2022,28,TIRAGE «SIKA» NUMEROS MACHINE N°165,90,06,51,33
8,MARDI 1 MARS 2022,19,TIRAGE «SIKA» N°165,64,14,25,83
9,MARDI 1 MARS 2022,80,TIRAGE « EMERGENCE » NUMEROS MACHINE N°305,22,13,55,47
10,MARDI 1 MARS 2022,37,TIRAGE « EMERGENCE » N°305,05,09,50,19
11,MARDI 1 MARS 2022,05,TIRAGE « LA MATINALE » NUMEROS MACHINE N°184,16,51,62,90

In [6]:
import os
import glob
import pandas as pd
os.chdir('/Users/oliverla412/Desktop/Place_project/Lot')

In [7]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [8]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

#export to csv

combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [12]:
b_data= pd.read_csv('combined_csv.csv')

In [3]:
#b_data

In [14]:
b_data.duplicated().sum()

6