In [127]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time

time.sleep(2)
## open a new driver

driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver')
time.sleep(3)

url = 'https://lonaci.net/produits/loto_bonheur/resultats'
 
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class="loto-date"]')

Date_list =[]
for x in date:
    Date_list.append(x.text)

    
    
first_no = driver.find_elements_by_xpath('//span[@class="loto-first-number"]')
First_no = []
for x in first_no:
    First_no.append(x.text)   

type_of_game = driver.find_elements_by_xpath('//h3[@class="loto-second-title"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text) 
     
lotto_no = driver.find_elements_by_xpath('//span[@class="loto-number"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    
Lotto_nos = Lotto_no[:48] 

lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
import pandas as pd
data = pd.DataFrame({})

data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game 
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_37.csv')
time.sleep(3)
driver.close()

In [128]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,MARDI 8 MARS 2022,26,TIRAGE « LA MATINALE » N°185,66,43,50,42
1,MARDI 8 MARS 2022,34,TIRAGE « LA MATINALE » NUMEROS MACHINE N°185,45,29,06,84
2,LUNDI 7 MARS 2022,50,TIRAGE «SPECIAL DAYS OFF» N°24,07,68,53,82
3,LUNDI 7 MARS 2022,37,TIRAGE «SPECIAL DAYS OFF» NUMEROS MACHINE N°24,23,46,51,08
4,LUNDI 7 MARS 2022,40,TIRAGE «AKWABA» N°166,53,22,15,81
5,LUNDI 7 MARS 2022,58,TIRAGE «AKWABA» NUMEROS MACHINE N°166,23,16,25,11
6,LUNDI 7 MARS 2022,57,TIRAGE «ETOILE» N°304,49,69,26,29
7,LUNDI 7 MARS 2022,46,TIRAGE «ETOILE» NUMEROS MACHINE N°304,31,81,05,20
8,LUNDI 7 MARS 2022,56,TIRAGE «REVEIL» N°185,86,22,58,64
9,LUNDI 7 MARS 2022,19,TIRAGE «REVEIL» NUMEROS MACHINE N°185,81,88,03,28
10,DIMANCHE 6 MARS 2022,41,TIRAGE «AWALE» N°165,60,12,02,65
11,DIMANCHE 6 MARS 2022,53,TIRAGE «AWALE» NUMEROS MACHINE N°165,08,28,82,22

# Putting all the .csv files into  a single file. (Concatination)

In [129]:
import os
import glob
import pandas as pd
os.chdir('/Users/oliverla412/Desktop/Place_project/Lot')

In [130]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [131]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

#export to csv

combined_csv.to_csv( "Big_data.csv", index=False, encoding='utf-8-sig')

In [132]:
My_data= pd.read_csv('Big_data.csv')

## Data Clearning (EDA Exploratory Data Analysis).

In [133]:
My_data

,Unnamed: 0,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,0,MERCREDI 2 FÉVRIER 2022,22,TIRAGE «FORTUNE» N°709,7,36,52,14
1,1,MERCREDI 2 FÉVRIER 2022,3,TIRAGE «FORTUNE» N°709,73,85,63,54
2,2,MERCREDI 2 FÉVRIER 2022,58,« LUCKY TUESDAY » N°751,24,87,60,39
3,3,MERCREDI 2 FÉVRIER 2022,19,« LUCKY TUESDAY » N°751,43,85,36,30
4,4,MARDI 1 FÉVRIER 2022,82,« LUCKY TUESDAY » N°751,16,47,52,68
...,...,...,...,...,...,...,...,...
1471,7,LUNDI 14 FÉVRIER 2022,26,TIRAGE «REVEIL» NUMEROS MACHINE N°182,39,45,54,87
1472,8,LUNDI 14 FÉVRIER 2022,14,TIRAGE «REVEIL» N°182,1,33,74,89
1473,9,DIMANCHE 13 FÉVRIER 2022,21,TIRAGE «ESPOIR» NUMEROS MACHINE N°199,85,35,34,18
1474,10,DIMANCHE 13 FÉVRIER 2022,23,TIRAGE «ESPOIR» N°199,58,2,68,65
1475,11,DIMANCHE 13 FÉVRIER 2022,16,TIRAGE «AWALE» NUMEROS MACHINE N°162,73,59,71,62

In [134]:
My_data.shape

(1476, 8)

In [121]:
import warnings
warnings.filterwarnings('ignore')

In [122]:
edata = My_data[['play_days','Type_of_game','First_number']] # selection of attributes for the project

date = edata.play_days

day =[]
day_no =[]
month = []
for x in date:
    x = x.split(' ')
    day.append(x[0])
    day_no.append(x[1])
    month.append(x[2])
    #print()
edata['day'] = day
edata['day_no'] = day_no
edata['month'] = month 

## dropping play_days coulumns
edata.drop(columns=edata[['play_days']],axis=1,inplace=True)

# cleaning the type of games
games = edata.Type_of_game

Machine_no =[] # getting the machine no
for c in games:
    c = c.split(' ')
    Machine_no.append(c[-1])
# getting all possible type of games

array = []
for c in games:
    c = c.split(' ')
    array.append(c)
    #print(c)  
# creating an array containing all categorical type of games
f = ['LUCKY', '«FORTUNE»','SIKA»','EMERGENCE','MATINALE','«AKWABA»','EMERGENCE','«ETOILE»','«REVEIL»','«KADO»','MID',\
    '«BARAKA»','SOLUTION','«MONNI»','«PRIVILEGE»','«BENEDICTION»','BONANZA»','«MONDAY','«ESPOIR»','«AWALE»',\
    'MOAYE','DIAMANT»','SOUTRA»','«SATURDAY','«PREMIERE','«PRESTIGE»','«CASH»','WARI','FORTUNE','«SIKA»']

vs = []
for x in array:
    #print(x) 
    vs.append(x)
    
target = []
for x in vs:
    #print(x)
    for y in x:
        if y in f:
            target.append(y)    
edata['Machine_no'] = Machine_no
edata['game_type'] = target 
edata.drop(columns=edata[['Type_of_game']],axis=1,inplace=True)

In [124]:
edata.head(5)

   First_number       day day_no    month Machine_no  game_type
0            22  MERCREDI      2  FÉVRIER      N°709  «FORTUNE»
1             3  MERCREDI      2  FÉVRIER      N°709  «FORTUNE»
2            58  MERCREDI      2  FÉVRIER      N°751      LUCKY
3            19  MERCREDI      2  FÉVRIER      N°751      LUCKY
4            82     MARDI      1  FÉVRIER      N°751      LUCKY

In [125]:
edata.shape

(732, 6)