In [1]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from tqdm import tqdm
import time

time.sleep(2)
## open a new driver

driver = webdriver.Chrome('/Users/oliverla412/Desktop/chromedriver 2')
time.sleep(3)

url = 'https://lonaci.net/produits/loto_bonheur/resultats'
 
driver.get(url)
time.sleep(2)
driver.maximize_window()
time.sleep(3)
date = driver.find_elements_by_xpath('//small[@class="loto-date"]')

Date_list =[]
for x in date:
    Date_list.append(x.text)

    
    
first_no = driver.find_elements_by_xpath('//span[@class="loto-first-number"]')
First_no = []
for x in first_no:
    First_no.append(x.text)   

type_of_game = driver.find_elements_by_xpath('//h3[@class="loto-second-title"]')
Type_of_game = []
for x in type_of_game:
    Type_of_game.append(x.text) 
     
lotto_no = driver.find_elements_by_xpath('//span[@class="loto-number"]')
Lotto_no= []
for x in lotto_no:
    Lotto_no.append(x.text)
    
Lotto_nos = Lotto_no[:48] 

lott_no2 = []
lott_no3 = []
lott_no4 = []
lott_no5 = []

for x in range(0,len(Lotto_nos),4):
    lott_no2.append(Lotto_nos[x])
    lott_no3.append(Lotto_nos[x + 1])
    lott_no4.append(Lotto_nos[x + 2])
    lott_no5.append(Lotto_nos[x + 3])
    
import pandas as pd
data = pd.DataFrame({})

data['play_days'] = Date_list
data['First_number'] = First_no[:12]
data['Type_of_game'] = Type_of_game 
data['lott_no2'] = lott_no2
data['lott_no3'] = lott_no3
data['lott_no4'] = lott_no4
data['lott_no5'] = lott_no5
data.to_csv('Data_76.csv')
time.sleep(3)
driver.close()

In [2]:
data

,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,VENDREDI 20 MAI 2022,66,TIRAGE «CASH» N°196,08,17,77,01
1,VENDREDI 20 MAI 2022,32,TIRAGE «CASH» NUMEROS MACHINE N°196,46,12,55,25
2,JEUDI 19 MAI 2022,35,TIRAGE «MONNI» N°176,62,51,25,85
3,JEUDI 19 MAI 2022,47,TIRAGE «MONNI» NUMEROS MACHINE N°176,87,55,16,66
4,JEUDI 19 MAI 2022,53,TIRAGE «PRIVILEGE» N°316,51,79,65,67
5,JEUDI 19 MAI 2022,16,TIRAGE «PRIVILEGE» NUMEROS MACHINE N°316,30,62,84,74
6,JEUDI 19 MAI 2022,77,TIRAGE «KADO» N°194,64,02,83,57
7,JEUDI 19 MAI 2022,12,TIRAGE «KADO» NUMEROS MACHINE N°194,60,29,20,44
8,MERCREDI 18 MAI 2022,01,TIRAGE « MID WEEK » N°963,89,23,65,69
9,MERCREDI 18 MAI 2022,84,TIRAGE «BARAKA» NUMEROS MACHINE N°176,49,89,48,88
10,MERCREDI 18 MAI 2022,04,TIRAGE «BARAKA» N°176,29,72,68,30
11,MERCREDI 18 MAI 2022,62,TIRAGE «FORTUNE» NUMEROS MACHINE N°724,29,35,47,23

In [40]:
data.shape

(12, 7)

# Putting all the .csv files into  a single file. (Concatination)

In [11]:
import os
import glob
import pandas as pd
os.chdir('/Users/oliverla412/Desktop/Place_project/Lot')

In [12]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [13]:
len(all_filenames)

70

In [14]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

#export to csv

combined_csv.to_csv( "Big_data.csv", index=False, encoding='utf-8-sig')

In [15]:
My_data= pd.read_csv('Big_data.csv')

## Data Clearning (EDA Exploratory Data Analysis).

In [16]:
My_data

,Unnamed: 0,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,0,MERCREDI 2 FÉVRIER 2022,22,TIRAGE «FORTUNE» N°709,7,36,52,14
1,1,MERCREDI 2 FÉVRIER 2022,3,TIRAGE «FORTUNE» N°709,73,85,63,54
2,2,MERCREDI 2 FÉVRIER 2022,58,« LUCKY TUESDAY » N°751,24,87,60,39
3,3,MERCREDI 2 FÉVRIER 2022,19,« LUCKY TUESDAY » N°751,43,85,36,30
4,4,MARDI 1 FÉVRIER 2022,82,« LUCKY TUESDAY » N°751,16,47,52,68
...,...,...,...,...,...,...,...,...
823,7,LUNDI 14 FÉVRIER 2022,26,TIRAGE «REVEIL» NUMEROS MACHINE N°182,39,45,54,87
824,8,LUNDI 14 FÉVRIER 2022,14,TIRAGE «REVEIL» N°182,1,33,74,89
825,9,DIMANCHE 13 FÉVRIER 2022,21,TIRAGE «ESPOIR» NUMEROS MACHINE N°199,85,35,34,18
826,10,DIMANCHE 13 FÉVRIER 2022,23,TIRAGE «ESPOIR» N°199,58,2,68,65
827,11,DIMANCHE 13 FÉVRIER 2022,16,TIRAGE «AWALE» NUMEROS MACHINE N°162,73,59,71,62

In [17]:
My_data.shape

(828, 8)

In [18]:
My_data.duplicated().sum()

12

In [19]:
import pandas as pd

In [20]:
Data = pd.DataFrame({})

In [21]:
import warnings
warnings.filterwarnings('ignore')

In [22]:
My_data.head(2)

,Unnamed: 0,play_days,First_number,Type_of_game,lott_no2,lott_no3,lott_no4,lott_no5
0,0,MERCREDI 2 FÉVRIER 2022,22,TIRAGE «FORTUNE» N°709,7,36,52,14
1,1,MERCREDI 2 FÉVRIER 2022,3,TIRAGE «FORTUNE» N°709,73,85,63,54

In [23]:
#### edata = My_data[['play_days','Type_of_game','First_number']] # selection of attributes for the project

# date = My_data.play_days

# day =[]
# day_no =[]
# month = []
# for x in date:
#     x = x.split(' ')
#     day.append(x[0])
#     day_no.append(x[1])
#     month.append(x[2])
#     #print()
# Data['day'] = day[:534]
# Data['day_no'] = day_no[:534]
# Data['month'] = month[:534]


## dropping play_days coulumns
My_data.drop(columns=My_data[['play_days']],axis=1,inplace=True)

# cleaning the type of games
games = My_data.Type_of_game

Machine_no =[] # getting the machine no
for c in games:
    c = c.split(' ')
    Machine_no.append(c[-1])
# getting all possible type of games

array = []
for c in games:
    c = c.split(' ')
    array.append(c)
    #print(c)  
# creating an array containing all categorical type of games
f = ['LUCKY', '«FORTUNE»','SIKA»','EMERGENCE','MATINALE','«AKWABA»','EMERGENCE','«ETOILE»','«REVEIL»','«KADO»','MID',\
    '«BARAKA»','SOLUTION','«MONNI»','«PRIVILEGE»','«BENEDICTION»','BONANZA»','«MONDAY','«ESPOIR»','«AWALE»',\
    'MOAYE','DIAMANT»','SOUTRA»','«SATURDAY','«PREMIERE','«PRESTIGE»','«CASH»','WARI','FORTUNE','«SIKA»']

vs = []
for x in array:
    #print(x) 
    vs.append(x)
    
target = []
for x in vs:
    #print(x)
    for y in x:
        if y in f:
            target.append(y)    
Data['Machine_no'] = Machine_no[:820]
Data['game_type'] = target[:820] 
Data['First_number'] = My_data['First_number'][:820]

Data['No2'] = My_data['lott_no2'][:820]
Data['No3'] = My_data['lott_no3'][:820]
Data['No4'] = My_data['lott_no4'][:820]
Data['No5'] = My_data['lott_no5'][:820]


My_data.drop(columns=My_data[['Type_of_game']],axis=1,inplace=True)

In [24]:
Data

    Machine_no  game_type  First_number  No2  No3  No4  No5
0        N°709  «FORTUNE»            22    7   36   52   14
1        N°709  «FORTUNE»             3   73   85   63   54
2        N°751      LUCKY            58   24   87   60   39
3        N°751      LUCKY            19   43   85   36   30
4        N°751      LUCKY            82   16   47   52   68
..         ...        ...           ...  ...  ...  ...  ...
815      N°184   «REVEIL»            89   19   30   35   56
816      N°182   «REVEIL»            63   10   22   89   68
817      N°182   «ESPOIR»            16   58   31   37   72
818      N°820   «ESPOIR»            65   46   85   23   42
819      N°163    «AWALE»            53   50   87   15    3

[820 rows x 7 columns]

In [27]:
Data.No2.unique()

array([ 7, 73, 24, 43, 16, 31, 42, 47, 65, 34, 79,  9, 21, 40, 37, 68, 55,
       45, 66, 23, 53, 49, 86, 81, 80, 10, 62, 90, 22, 59, 63, 18, 87, 33,
       14, 57, 64, 41, 25, 27, 44, 58, 54, 39, 51, 67, 77,  8, 30, 60, 61,
       78, 70, 26, 32, 29, 50, 69,  6,  1, 84,  2,  3, 56, 11, 46, 13, 17,
       82, 85, 28, 83, 35, 89, 71, 36,  5, 88, 52, 15, 12,  4, 75, 48, 20,
       74, 38, 76, 19, 72, 98])

In [28]:
avk =[]
for x in Data.game_type.unique():
    avk.append(x)

In [29]:
len(avk)

29

In [30]:
Data.game_type.unique()

array(['«FORTUNE»', 'LUCKY', 'SIKA»', 'EMERGENCE', 'MATINALE', '«AKWABA»',
       '«PREMIERE', '«SIKA»', '«ETOILE»', '«REVEIL»', '«KADO»', 'MID',
       '«BARAKA»', 'SOLUTION', '«CASH»', '«MONNI»', '«PRIVILEGE»',
       '«PRESTIGE»', '«BENEDICTION»', 'SOUTRA»', 'BONANZA»', 'WARI',
       '«MONDAY', '«ESPOIR»', '«AWALE»', 'MOAYE', 'DIAMANT»', 'FORTUNE',
       '«SATURDAY'], dtype=object)

In [31]:
Data['game_type'] = Data['game_type'].replace({'«SIKA»':'SIKA','SIKA»':'SIKA','«CASH»':'CASH','«FORTUNE»':'FORTUNE',
                                              '«AKWABA»':'AKWABA','«PREMIERE':'PREMIERE','«ETOILE»':'ETOILE','«REVEIL»':'REVEIL',
                                              '«KADO»':'KADO','«BARAKA»':'BARAKA','«MONNI»':'MONNI','«PRIVILEGE»':'PRIVILEGE',
                                             '«PRESTIGE»':'PRESTIGE','«BENEDICTION»':'BENEDICTION','SOUTRA»':'SOUTRA',
                                              'BONANZA»':'BONANZA','«MONDAY':'MONDAY','«ESPOIR»':'ESPOIR',
                                              '«AWALE»':'AWALE','DIAMANT»':'DIAMANT','«SATURDAY':'SATURDAY'})

In [32]:
Data['game_type']

0      FORTUNE
1      FORTUNE
2        LUCKY
3        LUCKY
4        LUCKY
        ...
815     REVEIL
816     REVEIL
817     ESPOIR
818     ESPOIR
819      AWALE
Name: game_type, Length: 820, dtype: object

In [33]:
Data.game_type.unique()

array(['FORTUNE', 'LUCKY', 'SIKA', 'EMERGENCE', 'MATINALE', 'AKWABA',
       'PREMIERE', 'ETOILE', 'REVEIL', 'KADO', 'MID', 'BARAKA',
       'SOLUTION', 'CASH', 'MONNI', 'PRIVILEGE', 'PRESTIGE',
       'BENEDICTION', 'SOUTRA', 'BONANZA', 'WARI', 'MONDAY', 'ESPOIR',
       'AWALE', 'MOAYE', 'DIAMANT', 'SATURDAY'], dtype=object)

In [34]:
Data['Machine_no'][:5]

0    N°709
1    N°709
2    N°751
3    N°751
4    N°751
Name: Machine_no, dtype: object

In [62]:
mach_no = []
for x in Data['Machine_no']:
    arr = x.split('N°')
    mach_no.append(arr[-1])
Data['Machine_no'] = mach_no

In [63]:
Data.head(3)

,day,day_no,month,Machine_no,game_type,First_number,No2,No3,No4,No5
0,MERCREDI,2,FÉVRIER,709,FORTUNE,22,7,36,52,14
1,MERCREDI,2,FÉVRIER,709,FORTUNE,3,73,85,63,54
2,MERCREDI,2,FÉVRIER,751,LUCKY,58,24,87,60,39

## Let's used Label Encoder to convert the text data into numerical data for some columns those are not musearable or unscable.

In [59]:
#!pip3 install scipy==1.7.1 numpy==1.18.5 scikit-learn==0.24.2 --no-cache-dir --no-binary :all:

In [64]:
#importing the libaries
import pandas as pd
import numpy as np
#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [65]:
Data.to_csv('project_sample.csv',index=False)

In [66]:
Data.head(3)

,day,day_no,month,Machine_no,game_type,First_number,No2,No3,No4,No5
0,MERCREDI,2,FÉVRIER,709,FORTUNE,22,7,36,52,14
1,MERCREDI,2,FÉVRIER,709,FORTUNE,3,73,85,63,54
2,MERCREDI,2,FÉVRIER,751,LUCKY,58,24,87,60,39

In [ ]:
unscalable = non_num_data.drop(scalable,axis=1)

In [ ]:
unscalable = unscalable.apply(LabelEncoder().fit_transform)

In [66]:
import numpy as np

In [3]:
#!pip install sklearn

In [4]:
#from sklearn.preprocessing import label_binarize

In [15]:
import random
import pyautogui as pg
import time
animal = ('Dog','Monkey','Cow')
time.sleep(3)
for i in range(10):
    a = random.choice(animal)
    pg.write('You are a '+ a + '!!!')
    pg.press('enter')

Enter the string : bonjour abcd yes can

'nac sey dcba ruojnob'

In [19]:
def rev_me(*args):
    x = args
    print(x)

In [10]:
ass = []
for y in x :
    ass.append(y)
    
bonjour

In [11]:
letters[::-1]

['h', 'e', 'l', 'l', 'o']

In [92]:
 letters="bonjour"

In [93]:
letters[::-1]

'ruojnob'

In [26]:
arr_ = ['b', 'o', 'n', 'j', 'o', 'u', 'r']

In [58]:
rev_arr_ =[]
for j in arr_:
    rev_arr_.append(arr_.index(j))
index_ =[]
k =1
while k < len(rev_arr_):
    if k == 0:
        index_.append(rev_arr_[-1])
    index_.append(rev_arr_[-k])    
    k+=1

In [80]:
rev_arr_

[0, 1, 2, 3, 1, 5, 6]

In [40]:
index_

[0, 6, 5, 1, 6, 2, 1]

In [59]:
index_

[6, 5, 1, 3, 2, 1]

In [60]:
for x in range(len(rev_arr_)):
    print(x)

0
1
2
3
4
5
6

In [81]:
-len(rev_arr_)

-7

In [126]:
members = [{"first_name":"Olivier","last_name":'Assie'},\
          {"first_name":"Olivier","last_name":'Assie'},
          {"first_name":"Adams","last_name":'Sacko'}]

In [127]:
type(members)

list

In [128]:
for x in members:
    print(x['first_name']+' '+ x['last_name'])

Olivier Assie
Olivier Assie
Adams Sacko

In [121]:
c = {'members':members}

In [129]:
for x in members:
    print(x)

{'first_name': 'Olivier', 'last_name': 'Assie'}
{'first_name': 'Olivier', 'last_name': 'Assie'}
{'first_name': 'Adams', 'last_name': 'Sacko'}

{'members': [{'first_name': 'Olivier', 'last_name': 'Assie'},
  {'first_name': 'Olivier', 'last_name': 'Assie'},
  {'first_name': 'Adams', 'last_name': 'Sacko'}]}

In [130]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [132]:
car['brand']

'Ford'

In [135]:
y = car.values()
print(y)

dict_values(['Ford', 'Mustang', 1964])

In [136]:
car['brand'] = "Musubissi"

In [137]:
y = car.values()
print(y)

dict_values(['Musubissi', 'Mustang', 1964])

In [138]:
car.get('brand')

'Musubissi'

In [149]:
for x in car:
    y = car.get(x)
    print(y)
    y=''

Musubissi
Mustang
1964

In [150]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [156]:
for x in myfamily:
    z = myfamily.get(x)
    for i in z:
        y = z.get(i)
        print(y)
        print('---'*2)

Emil
------
2004
------
Tobias
------
2007
------
Linus
------
2011
------

In [157]:
context = {
    'cars': ['Ford', 'Volvo', 'BMW'],
    'colors': ['Red', 'Green', 'Blue']
    }

In [159]:
arr =  ['Ford', 'Volvo', 'BMW']

In [1]:
words = ["PoGo","Spange","Lie-Fi"]
definitions = ["Slang for Pokemon Go","To collect spare change, either from couches, passerbys on the street or any numerous other ways and means","When your phone or tablet indicates that you are connected to a wireless network, however you are still unable to load webpages or use any internet services with your device"]

In [5]:
my_dict = {}
for i in range(0,len(words)):
    my_dict[words[i]] = definitions[i]
my_dict

{'PoGo': 'Slang for Pokemon Go',
 'Spange': 'To collect spare change, either from couches, passerbys on the street or any numerous other ways and means',
 'Lie-Fi': 'When your phone or tablet indicates that you are connected to a wireless network, however you are still unable to load webpages or use any internet services with your device'}